html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #7D4D2B;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #7D4D2B;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #7D4D2B;
}
p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #7D4D2B;
}

@keyframes bouncein {
  from{
    top: -50vh;
  }
  95%{
    top:15vh;
  }
  to{
    top: 10vh;
  }
}
.bounceIn{
  animation: bouncein 1s ease-in-out forwards;
}

.swiper-slide-active {
  transform:  scale(1.2);
  transition: .4s;
}

.swiper-wrapper {
  justify-content: center;
}